@import '~asset/style/variables';

.tree-container {
  margin: 0 auto;
  .parents {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .my-node {
    border-radius: 2%;
    margin: 0.5rem 1rem;
    width: 20rem;
    height: 5rem;
    display: flex;
    align-items: center;

    &.male {
      background-color: lightblue;
    }
    &.female {
      background-color: lightpink;
    }
    &__icon {
      margin: 0 1rem;
    }
  }
  .children-list {
    display: flex;
    margin-top: 5rem;
  }
}
